.footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  padding: 2rem;
  height: 6rem;
  width: 100%;
  background-color: #282828;
}
.footer h4 {
  font-size: 1.2rem;
  line-height: 1.25;
}
.footer__right * .MuiSlider-root {
  color: green;
}
.footer__left {
  display: flex;
  align-items: center;
  color: white;
  max-width: 360px;
  flex: 0.3;
}

.footer__center {
  flex: 0.4;
  max-width: 480px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__icon {
  font-size: 1.5rem;
  transition: transform 0.2s ease-in-out;
}
.footer__icon-play {
  font-size: 2rem;
}

.footer__icon:hover {
  transform: scale(1.15) !important;
}

.footer__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  flex: 0.3;
}

.footer__albumLogo {
  height: 2.75rem;
  width: 2.75rem;
  margin-top: -0.25rem;
  object-fit: contain;
}

.footer__songInfo > h4 {
  margin-bottom: 0.5rem;
}

.footer__songInfo > p {
  font-size: 12px;
}
