.footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  padding: 2rem;
  width: 100%;
  background-color: #282828;
}
.footer h4 {
  font-size: 18px !important;
  white-space: nowrap;
  line-height: 1.25;
  margin-bottom: 0.25rem;
}
.footer p {
  font-size: 14px !important;
  white-space: nowrap;
}
.footer__right * .MuiSlider-root {
  color: green !important;
}
.footer__left {
  display: flex;
  align-items: center;
  color: white;
  max-width: 360px;
  flex: 0.3;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.footer__center {
  flex: 0.4;
  max-width: 300px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__icon {
  font-size: 30px !important;
  transition: transform 0.2s ease-in-out;
}
.footer__iconPlay {
  font-size: 45px !important;
  transition: transform 0.2s ease-in-out;
}

.footer__icon:hover {
  transform: scale(1.15) !important;
}

.footer__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  flex: 0.3;
  max-width: 360px;
}

.footer__albumArt {
  height: 60px;
  width: 60px;
  object-fit: contain;
}