.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__left {
  flex: 0.5;
  display: flex;
  background-color: white;
  padding: 1rem;
  border-radius: 30px;
  color: gray;
  align-items: center;
}

.header__left > input {
  border: none;
  width: 100%;
  font-size: 16px;
  outline: none !important;
}

.header__right > h4 {
  margin: 0;
  margin-left: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  opacity: 0.8;
}
