.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__left {
  flex: 0.5;
  display: flex;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  color: gray;
  align-items: center;
}

.header__left > input {
  border: none;
  width: 100%;
  font-size: 16px;
  outline: none !important;
  padding: 0.25rem 0.5rem;
}
.header__left > input::placeholder {
  text-overflow: ellipsis;
}

.header__rightText > h4 {
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  opacity: 0.8;
  line-height: 1;
}
.header__rightText > small {
  font-size: 14px;
  margin: 0;
  line-height: 1;
}
.header__rightText {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  justify-content: center;
  margin-right: 1rem;
}

.header__avatar {
  height: 2.75rem;
}