.login {
  display: grid;
  background-color: black;
  height: 100vh;
  place-items: center;
}

.login > img {
  width: 80%;
  max-width: 400px;
}

.login > a {
  color: white;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 5rem;
  font-weight: 800;
  background-color: #1ED760;
  transition: background-color 0.2s ease-in-out;
  text-transform: uppercase;
}

.login > a:hover {
  background-color: #09C14B;
}

@media (max-width: 480px) {
  .login > a {
    display: block;
    width: 80%;
    text-align: center;
  }
}