.login {
  display: grid;
  background-color: black;
  height: 100vh;
  place-items: center;
}

.login__inner {
  display: flex;
  flex-flow: column nowrap;
  align-items: space-evenly;
  justify-content: center;
  max-width: 480px;
  width: 100%;
  margin: auto;
  padding: 2rem;
  background: #fff;
  border-radius: 20px;
  color: #202020;
}

.login__inner > img {
  max-width: 360px;
  width: 75%;
}

.login__inner > a {
  color: white;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 5rem;
  font-weight: 800;
  background-color: #09C14B;
  transition: background-color 0.2s ease-in-out;
  text-transform: uppercase;
  font-size: 1.15rem;
}

.login__inner > a:hover {
  background-color: #07A641;
}

.login__desc > h2 {
  font-size: 2rem;
  font-weight: 900;
}

.login__desc > p {
  color: #eee;
}

.login__thanks {
  color: gray;
}

@media (max-width: 480px) {
  .login__inner {
    height: 100vh;
    width: 100vw;
  }
  .login__inner > a {
    display: block;
    width: 100%;
    text-align: center;
  }
}