.sidebar {
  flex: 0.25;
  padding: 2rem;
  min-width: 250px;
  height: calc(100vh - 6rem);
  color: white;
  background-color: #040404;
  overflow-y: scroll;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar__title {
  font-size: 0.8rem;
}

.sidebar__logo {
  height: 2.5rem;
}

.sidebar > hr {
  border: 1px solid #282828;
  width: calc(100% - 2rem);
  margin: 0 1rem 1rem 1rem;
}