.SidebarItem {
  display: flex;
  cursor: pointer;
  align-items: center;
  height: 40px;
  color: grey;
  transition: 200ms color ease-in;
}

.SidebarItem:hover {
  color: white;
}

.sidebar > hr {
  border: 1px solid #282828;
  width: 100%;
  margin: 0 1rem 1rem 1rem;
}

.SidebarItem__icon {
  margin-right: 1rem;
  font-size: 1.2rem;
}


.SidebarItem > h4 {
  font-size: 1.2rem;
}
.SidebarItem > p {
  padding: 0.5rem 0;
}
