.songRow {
  padding: 0.75rem;
  display: flex;
  align-items: center;
  z-index: 100;
  color: white;
}

.songRow:hover {
  cursor: pointer;
  background-color: black;
  opacity: 0.8;
}

.songRow__info {
  margin-left: 1rem;
}

.songRow__info > h1 {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 0.5rem;
}

.songRow__info > p {
  font-size: 0.8rem;
  margin: 0;
  color: gray;
}

.songRow__albumArt {
  height: 60px;
  width: 60px;
}
